Package: com.eamontracey.colorfullines
Name: ColorfulLines
Version: 2.1
Architecture: iphoneos-arm
Description: Customize the cursor, scrollbar, and text selection views
Maintainer: Eamon Tracey
Author: Eamon Tracey
Section: Tweaks
Depends: ${ORION}, preferenceloader, com.eamontracey.nomaepreferences, firmware (>= 13.0)
